<!DOCTYPE html>
<html>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
            border-collapse: collapse;
        }
    </style>
    <head>
        <body>
            <form id="myForm" action="{% url 'charactersheet:charactersheet' character.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>{{ character.investigator_name }}</h1>
                Player: {{ character.player_fk.name }}<br>
                {{ character.occupation }}<br>
                {{ character.birthplace }}<br>
                {{ character.age }}<br>
                {{ character.sex }}<br>

                <h2>STATS</h2>
                <table>
                    <tr>
                        <td>STR <input id="" type="text" name="" value="{{ character.strength }}" style='width:20%'/></td>
                        <td>INT <input id="" type="text" name="" value="{{ character.intelligence }}" style='width:20%'/></td>
                        <td>APP <input id="" type="text" name="" value="{{ character.appearance }}" style='width:20%'/></td>
                        <td>DEX <input id="" type="text" name="" value="{{ character.dexterity }}" style='width:20%'/></td>
                    </tr>
                    <tr>
                        <td>EDU <input id="" type="text" name="" value="{{ character.education }}"  style='width:20%'/></td>
                        <td>SIZ <input id="" type="text" name="" value="{{ character.size }}" style='width:20%'/></td>
                        <td>CON <input id="" type="text" name="" value="{{ character.constitution }}" style='width:20%'/></td>
                        <td>POW <input id="" type="text" name="" value="{{ character.power }}" style='width:20%'/></td>
                    </tr>
                </table> 
                MAGIC POINTS: {{character.magic_max}}<br>
                MOV: {{character.move}}<br>
                HP: {{character.hp}} of {{character.hp_max}}<br>
                SAN: {{character.san}} of {{character.san_max}}<br>
                SAN STARTING TODAY: {{character.san_daystart}}<br>
                DAMAGE BONUS: {{character.damage_bonus}}<br>
                BUILD: {{character.build}}<br>

                <p>
                    <h2>SKILLS</h2>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Base Points</th>
                            <th>Personal</th>
                            <th>Occupation</th>
                            <th>Experience</th>
                            <th>Total</th>
                        </tr>
                        {% for skill in character.characterskill_set.all %}
                        <tr>
                            <td>{{ skill }}</td>
                            <td>{{ skill.skill_fk.base_points }}</td>
                            <td>{{ skill.personal_points }}</td>
                            <td>{{ skill.occupation_points }}</td>
                            <td>{{ skill.experience_points }}</td>
                            <td><b>{{ skill.points }}</b></td>
                        </tr>
                        {% endfor %}
                    </table>
                </p>

                <p>
                    <h2>WEAPONS</h2>
                    <table>
                        <tr>
                            <th>Weapon</th>
                            <th>Damage</th>
                            <th>Base Range</th>
                        </tr>
                        {% for weapon in character.characterweapon_set.all %}
                        <tr>
                            <td>{{ weapon }}</td>
                            <td>{{ weapon.weapon_fk.damage }}</td>
                            <td>{{ weapon.weapon_fk.base_range }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </p>
                
                <p>
                    INVENTORY: 
                </p>

                <p><button value="Submit" type="submit">Submit</button></p>
            </form>
        </body>
    </head>
</html>
